<h1>Itens</h1>
<section>
  <table>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Ações</th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= link_to "Detalhar", item_path(item.id) %></td>
      </tr>
    <% end %>
  </table>
</section>
